discord.py>=2.4.0
Flask>=3.0
python-dotenv>=1.0
requests>=2.31
aiohttp>=3.9
gunicorn>=23.0
cloudscraper>=1.2
yt-dlp
imageio-ffmpeg
asyncpg>=0.30
pytz>=2024
adhan-py>=0.1.0
alembic>=1.13
sqlalchemy>=2.0
psycopg2-binary>=2.9
